#logo{
    background-color:blue;
}
#comany-name{
    background-color: brown;
}
#sidebar{
    background-color: blueviolet;
}
#content{
    background-color: aqua;
}
#footer{
    background-color: seagreen;
}